APP_ENV=dev
APP_DEBUG=true
APP_URL=http://localhost:8000

# sqlite (default) or mysql
DB_DRIVER=sqlite
DB_SQLITE_PATH=database/app.sqlite

# used only when DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=finance
DB_USER=root
DB_PASS=

SESSION_NAME=finance_session
